.navi {
  background-color: #339989;
  padding: 10px;
  margin: 0px;
  color: #DBCD63;
text-align: middle;
font-size: 20px;
font-weight: bold;
}


.content{ background-color: #DBCD63;
    padding: 10px;
    margin: 0px;
}

